name: python-pipeline
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: python:3.11-slim  # container должен быть объектом с полем image
    steps:
      - uses: actions/checkout@v4
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Unit Tests
        run: |
          pip install -e .
          pytest -q
